ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
.pytest_cache/

.idea/
.vscode/
*.swp
*~
.DS_Store
Thumbs.db

.cursor/

real/.git/
real/html/
real/docs/
real/.github/
real/assets/STORE_MODULE_ASSETS_HERE
real/.bumpversion.cfg

ros2_ws/src/pf_localization/test/

*.resolved
